<a href="https://colab.research.google.com/github/jasmineramgarhia9464-eng/Amandeep-Kaur-Sangra/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
csv_data = """Year,Household_Credit_GDP,GDP_Growth,Inflation,Unemployment,Interest_Rate
2000,52.3,4.1,2.6,6.1,6.50
2001,53.8,2.8,2.4,6.5,5.60
2002,55.1,2.4,1.6,5.8,1.75
2003,57.4,3.8,2.3,5.9,1.25
2004,59.6,4.9,2.7,5.5,1.35
2005,61.9,4.3,3.4,5.1,3.22
2006,64.7,3.8,3.2,4.9,4.97
2007,67.8,2.9,2.9,5.0,5.02
2008,70.1,-0.1,3.8,5.8,1.93
2009,69.4,-2.5,-0.4,9.3,0.16
2010,71.6,2.6,1.6,9.6,0.18
2011,73.9,1.6,3.1,8.9,0.10
2012,75.4,2.2,2.1,8.1,0.14
2013,77.8,1.8,1.5,7.4,0.11
2014,79.6,2.5,1.6,6.2,0.09
2015,81.2,2.9,0.1,5.3,0.13
2016,83.7,1.6,1.3,4.9,0.40
2017,85.9,2.4,2.1,4.4,1.00
2018,88.1,2.9,2.4,3.9,1.75
2019,90.3,2.3,1.8,3.7,2.16
2020,92.7,-3.4,1.2,8.1,0.25
2021,95.4,5.8,4.7,5.4,0.08
2022,97.9,2.1,8.0,3.6,3.88
2023,99.5,1.9,4.1,3.5,5.33
"""

with open("/content/raw_data.csv", "w") as f:
    f.write(csv_data)

print("File created: /content/raw_data.csv")

File created: /content/raw_data.csv

In [2]:
import pandas as pd

df = pd.read_csv("/content/raw_data.csv")
df.head()

,Year,Household_Credit_GDP,GDP_Growth,Inflation,Unemployment,Interest_Rate
0,2000,52.3,4.1,2.6,6.1,6.50
1,2001,53.8,2.8,2.4,6.5,5.60
2,2002,55.1,2.4,1.6,5.8,1.75
3,2003,57.4,3.8,2.3,5.9,1.25
4,2004,59.6,4.9,2.7,5.5,1.35